<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memorable2</title>
    <link rel="stylesheet" href='static/home.css'>
</head>
<body>
    <section>
    <h1>Memorable App</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.title}}
        <button type="submit">Add Task</button>
    </form>
    <h2>Task List</h2>
    <div class="task_list">
        {% for task in tasks %}
        <div class="task">
        <a href="{% url 'update' task.id %}" id="Edit_button">Edit</a>
        {% if task.complete == True %}
          <span><strike>{{task.title}}  <span class="date">{{task.date}}</span></strike></span>
        {% else %}
        <span>{{task.title}}<span class="date">{{task.date}}</span></span>
        {% endif %}
        </div>
        <br>
        {% endfor %}
    </div>
    </section>
</body>
</html>
